<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hone.honeweb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >        
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome" > 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeamActivity"
            android:label="@string/title_activity_team" >
        </activity>
        <activity
            android:name=".FunctionActivity"
            android:label="@string/title_activity_function" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".OopsActivity"
            android:label="@string/title_activity_oops" >
        </activity>
        <activity
            android:name=".Soft1Activity"
            android:label="@string/title_activity_soft1" >
        </activity>
        <activity
            android:name=".Soft2Activity"
            android:label="@string/title_activity_soft2" >
        </activity>
        <activity
            android:name=".Hardware_chooseActivity"
            android:label="@string/title_activity_hardware_choose" >
        </activity>
        <activity
            android:name=".HardWare_Detail_Activity"
            android:label="@string/title_activity_hard_ware__detail_" >
        </activity>
    </application>

</manifest>
